<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Todo List</title>
<link rel="stylesheet" href="./styles.css" th:href="@{/resources/app/css/styles.css}" type="text/css">
</head>
<body>
    <h1>Todo List</h1>
    <div id="todoForm">
    
	    <div th:if="${resultMessages} != null" class="alert"
    	    th:classappend="|alert-${resultMessages.type}|">
	        <ul>
            	<li th:each="message : ${resultMessages}"
                	 th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} : ${message.text}"></li>
        	</ul>
    	</div>
        <form action="./list.html" th:action="@{/todo/create}"
        	th:object="${todoForm}" method="POST">
            <input type="text" name="todoTitle" th:field="*{todoTitle}"/>
            <span th:errors="*{todoTitle}" class="text-error">error message</span>
            <button type="submit">Create Todo</button>
        </form>
    </div>
    <hr />
    <div id="todoList">
       	<ul th:each="todo : ${todos}" th:switch="${todo.finished}">
       		<li>
				<span th:text=${todo.todoTitle} class="strike" th:case="true">
        	   		finished
                </span>
                <span th:case="*">
	   				<span th:text=${todo.todoTitle}>
   						not finished
   	    	        </span>
					<form action="./list.html" th:action="@{/todo/finish}"
        				th:object="${todoForm}" method="POST" style="display: inline-block;">
            			<input type="hidden" name="todoId" value="todoId" th:value="${todo.todoId}"/>
            			<button type="submit">Finish</button>
        			</form>
   	            </span>
        		<form action="./list.html" th:action="@{/todo/delete}"
        			th:object="${todoForm}" method="POST" style="display: inline-block;">
            		<input type="hidden" name="todoId" value="todoId" th:value="${todo.todoId}"/>
            		<button type="submit">Delete</button>
        		</form>
       		</li>
       	</ul>
    </div>
</body>
</html>
