<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Todo List</title>
<style type="text/css">
.strike {
    text-decoration: line-through;
}

.alert {
    border: 1px solid;
}

.alert-error {
    background-color: #c60f13;
    border-color: #970b0e;
    color: white;
}

.alert-success {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
}

.text-error {
    color: #c60f13;
}
</style>
</head>
<body>
    <h1>Todo List</h1>
    <div id="todoForm">
    
	    <div th:if="${resultMessages} != null" class="alert"
    	    th:classappend="|alert-${resultMessages.type}|">
	        <ul>
            	<li th:each="message : ${resultMessages}"
                	 th:text="${message.code} != null ? ${#messages.msgWithParams(message.code, message.args)} : ${message.text}"></li>
        	</ul>
    	</div>
        <form action="./list.html" th:action="@{/todo/create}"
        	th:object="${todoForm}" method="POST">
            <input type="text" name="todoTitle" th:field="*{todoTitle}"/>
            <span th:errors="*{todoTitle}" class="text-error">error message</span>
            <button type="submit">Create Todo</button>
        </form>
    </div>
    <hr />
    <div id="todoList">
       	<ul th:each="todo : ${todos}">
       		<li th:if="${todo.finished}">
       			<span th:text=${todo.todoTitle} class="strike">
                	finished
                </span>
       		</li>
       		<li th:if="${not todo.finished}">
       			<span th:text=${todo.todoTitle}>
                	not finished
                </span>
       		</li>
       	</ul>
    </div>
</body>
</html>
